@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('../fonts/iconfont/Material Icons'),
       local('../fonts/iconfont/MaterialIcons-Regular'),
       url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/gotham/GothamBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/gotham/GothamBook.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham Light';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/gotham/GothamLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/gotham/GothamMedium.ttf) format('truetype');
}
@font-face {
  font-family: 'pistara';
  font-style: normal;
  src: url(../fonts/pistara/pistara.otf) format('otf');
}