﻿*{box-sizing: border-box;scroll-behavior: smooth;}
html,body{position:relative;display:block;height:100%;width:100%;float:left;}
body{background-color:#373737}

.containerEvaluacion{
    height: 100%;
    width:100%;
    position:relative;
    float:left;
}
.contPrincipal{
    position: relative;
    float: left;
    width: 100%;
    height:calc(100% - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(40,45,50);
    /*background-image:url(pexels-skylar-kang-6044820.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contLogin {
    width: 500px;
    height: auto;
    padding: 40px 60px;
    background-color:rgb(30,30,30);
    border-radius: 6px;
}
.btnSubmit {
    width: 100%;
    background-color: #000000;
    border: 1px solid #ff9800 ;
    margin-top:30px;
    color:#ff9800 ;
}
    .btnSubmit:hover {
        background-color:#F38313;
        color:#ffffff;
    }
.btnSubmit2 {
}
.contEval {
    float:left;
    width:100%;
    height:100%;
}
.tablaEvaluacion {
    width:90%;
    margin:0 5%;
}
    .tablaEvaluacion thead {
        background-color:#ff6e40;
    }

.evalItem {
    float:left;
    width:100%;
    height:auto;
    color:#ffffff;
    padding:20px;
}
.evalItem:nth-child(even) {
    background-color:rgb(50,50,50);    
}
.evalItem:nth-child(odd) {
    background-color:rgb(70,70,70);
    border:1px solid #ff9800;
}
.evalItem > div{
    float:left;
    height:auto;
    width:100%;
}
    .evalItem > div.evalItemTop > div{
        height:54px;
        width:auto;
        float:left;
        padding-right:20px;
        line-height: 54px;
    }
    .evalItem .select-dropdown {
        color:#ffffff;
    }
    .evalItem > div.evalItemBottom > div{
        float:left;
    }
    .evalItem > div.evalItemBottom > div:nth-child(1){
        height:80px;
        width:100px;
        margin-right:20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .evalItem > div.evalItemBottom > div:nth-child(1) i {
            font-size:2rem;
        }
    .evalItem > div.evalItemBottom > div:nth-child(2){
        width: calc(100% - 120px);
        font-size: 0.9rem;
        padding: 20px;
        background-color: rgba(0,0,0,0.2);
    }
.itemVideo {
    background-color:#000;
}
.tableHead,
.tableBody,
.tableFoot {
    float:left;
    width:100%;
}
.tableBody {
    height:calc(100% - 140px);
    overflow:auto;
}
.tableHead > div{
    float:left;
    width:200px;
    margin-left:20px;
}
.tableFoot {
    padding:10px;
}
.contIzquierda{
    float: left;
    position: relative;
    width: 35%;
    margin: 20px 0 0;
}
.contIzquierda > div.input-field{
    float: left;
    width: calc(100% - 62px);
}
.contIzquierda > div.btnAgregar{
    float: left;
    position: relative;
    height: 54px;
    line-height: 54px;
    margin: 1rem 0;
}
.divListaIzq{
    float: left;
    width: 100%;
    
}

.nav-wrapper{
    background-color:#232426;
	text-align: center;
	color:#ff9800 ;
	line-height: 64px;
    font-size:2rem;
}
.selectedUser::after {
	content:"Doble click para eliminar";
	FLOAT: right;
    color: #CCCCCC;
	font-size:10px;
}
.selectedUser{
	border-color: #F38313 !important;
}
.contDerecha{
    float: left;
    width: 65%;
}
.input-field > label,
.input-field input:not(.datepicker-calendar input){
    color:#FFFFFF;
}
.datepicker-date-display {
    background-color:#ff9800;
}
.datepicker-controls .select-month input {
    width: 90px;
}
.input-field input::placeholder{
    color:rgb(180,180,180);
}
.select-wrapper .caret {
    fill: #ffffff;
}
#text {
  position:absolute;
  top:0;
  left:0;
  width:200px;
  height:120px;
  font-size:30px;
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count: infinite;
}
/* MEDIA QUERIES
  --------------------------------------------- */

@media all and (max-width: 999px) and (min-width: 769px){
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
} 
@media all and (max-height: 414px){
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
} 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}